@model IEnumerable<PBLShop.ViewModels.ChiTietGhVM>
@{
    ViewData["Title"] = "Index";
}
<div id="order">
    <div class="san-pham-ben-trai">
        @await Html.PartialAsync("CartItem", Model)
    </div>
    <div class="thanh-toan-ben-phai">
        <section class="tong-tien">
            <p>Tổng tiền:</p>
            @{
                int? total = 0;
                foreach (var item in Model)
                {
                    total += item.SoLuong * item.DonGia;
                }
                <span class="gia">@total ₫</span>
            }
        </section>
        <section class="nut-bam">
            <a asp-action="Checkout" asp-controller="DonHang" class="thanh-toan">THANH TOÁN NGAY</a>
            <a asp-action="Index" asp-controller="SanPham" class="tiep-tuc">TIẾP TỤC MUA HÀNG</a>
        </section>
    </div>
</div>
