@model IEnumerable<PBLShop.ViewModels.ChiTietGhVM>
@{
    ViewData["Title"] = "Create";
}
<!-- Checkout Start -->
<div class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="billing-address">
                    <h2>Billing Address</h2>
                    <div class="row">

                        <div class="col-md-6">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label>Last Name"</label>
                            <input class="form-control" type="text" placeholder="Last Name">
                        </div>
                        <div class="col-md-6">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="E-mail">
                        </div>
                        <div class="col-md-6">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="Mobile No">
                        </div>
                        <form asp-action="Create" asp-controller="DonHang">
                            <div class="col-md-12">
                                <label>Address</label>
                                <input class="form-control" type="text" placeholder="Address" name="DiaChi">
                            </div>
                            <div class="checkout-btn">
                                <button type="submit">Place Order</button>
                            </div>
                        </form>
                        
                        <div class="col-md-6">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="City">
                        </div>
                        <div class="col-md-6">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="State">
                        </div>
                        <div class="col-md-6">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="ZIP Code">
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Create an account</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto">Ship to different address</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shipping-address">
                    <h2>Shipping Address</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="Mobile No">
                        </div>
                        <div class="col-md-12">
                            <label>Address</label>
                            <input class="form-control" type="text" placeholder="Address">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="checkout-summary">
                    <h2>Cart Total</h2>
                    <div class="checkout-content">
                        <h3>Products</h3>
                        @{
                            int? total = 0;
                            foreach (var item in Model)
                            {
                                <p>@item.TenSp<span>@(item.SoLuong * item.DonGia)</span></p>
                                total += item.SoLuong * item.DonGia;
                            }
                            <h4>Grand Total<span>@total</span></h4>
                        }
                        
                    </div>
                </div>

                <div class="checkout-payment">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->