@model PBLShop.ViewModels.GioHangVM

<div class="header__logo-mininavitem">
    <a asp-action="Index" asp-controller="ChitietGh" class="header__logo--icon">
        <i class="fa-solid fa-bag-shopping"></i>
        <span class="count_item_pr">@Model.SoLuong</span>
    </a>
</div>
