@model PBLShop.ViewModels.GioHangVM

<form asp-action="Index" asp-controller="ChiTietGh">
    <div class="cart">

        <button>Giỏ hàng</button><i class="fa fa-cart-plus"></i>

        <span>(@Model.SoLuong)</span>
    </div>
</form>
