@model IEnumerable<PBLShop.ViewModels.DanhMucVM>
@{
    Layout = "_LayoutAdmin";
}
<main class="px-3">
    <h3 class="my-3">Đơn hàng đang tiến hành</h3>

    <table class="table table-striped container-fluid mt-3" id="receiving_order">
        <thead>
            <tr>
                <th scope="col">Mã danh mục</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Số sản phẩm</th>
                <th scope="col">Danh mục cha</th>
                <th scope="col">Cập nhật</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Áo Polo</td>
                <td>30</td>
                <td>Áo</td>
                <td>
                    <button type="button" class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false">Cập nhật</button>
                    <div class="dropdown-menu p-2">
                        <div class="col justify-content-center d-flex flex-column">
                            <h5>Cập nhật danh mục:</h5>
                            <div class="mb-3">
                                <label for="btn-update-category" class="form-label">Nhập tên mới cho danh mục:</label>
                                <input type="text" class="form-control" id="btn-update-category" placeholder="Nhập tên mới...">
                            </div>
                            <!-- nếu không có danh mục con nào thì hiện ô cập nhật danh mục cha -->
                            <div class="mb-3">
                                <label for="newstatus" class="form-label">Danh mục cha:</label>
                                <select class="form-select" id="newstatus">
                                    <option selected disabled>Chọn danh mục cha</option>
                                    <option value="1">Áo</option>
                                    <option value="2">Quần</option>
                                    <option value="3">Giày</option>
                                </select>
                            </div>
                            <a href="#" class="btn btn-dark mt-3 mx-auto">Cập nhật</a>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</main>  