@{
    Layout = "_LayoutCustomer";
}
<div id="inforproduct">
    <div class="container">
        @await Component.InvokeAsync("DanhMuc")
        <section class="danh-muc">
            <h2>Danh mục sản phẩm</h2>
            @RenderBody()
        </section>
    </div>
</div>
