@{
    Layout = "_LayoutCustomer";
}
<div class="container">
    @await Component.InvokeAsync("DanhMuc")
    <section class="danh-muc">
        <h2>Danh mục sản phẩm</h2>
        <div class="danh-muc-san-pham">
            @RenderBody()
        </div>
    </section>

</div>
