@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutCustomer";
}
<div id="main">
    <section class="image">
        <img src="image\main.jpg" alt="Hình ảnh chính">

    </section>


    <section class="about-us">
        <div class="container">
            <div class="about-us-hero">
                <div class="about-us-hero-image">
                    <img src="~/image/vemachungtoi.jpg" alt="Hình ảnh câu chuyện">
                </div>

                <div class="about-us-hero-text">
                    <h2>Câu Chuyện Của Chúng Tôi</h2>
                    <p>Bắt đầu từ niềm đam mê thời trang và mong muốn mang đến những sản phẩm chất lượng cho mọi người, "ZERAFASHION" đã được ra đời.</p>
                </div>
            </div>

            <div class="about-us-values">
                <div class="about-us-value">
                    <i class="fas fa-heart"></i>
                    <h3>Chất Lượng</h3>
                    <p>Mỗi sản phẩm đều được chế tác tỉ mỉ từ những nguyên liệu cao cấp, mang đến sự thoải mái và thời trang cho bạn.</p>
                </div>

                <div class="about-us-value">
                    <i class="fas fa-users"></i>
                    <h3>Khách Hàng</h3>
                    <p>Sự hài lòng của khách hàng là ưu tiên hàng đầu của chúng tôi. Chúng tôi luôn lắng nghe và đáp ứng mọi nhu cầu của bạn.</p>
                </div>

                <div class="about-us-value">
                    <i class="fas fa-handshake"></i>
                    <h3>Đối Tác</h3>
                    <p>Chúng tôi hợp tác với những nhà cung cấp uy tín để đảm bảo chất lượng sản phẩm và dịch vụ tốt nhất cho bạn.</p>
                </div>
            </div>

            <div class="about-us-team">
                <h2>Đội Ngũ Của Chúng Tôi</h2>
                <div class="about-us-team-member">
                    <h3>Nguyễn Chế Định</h3>
                    <p>GIám đốc điều hành</p>
                </div>
                <div class="about-us-team-member">
                    <h3>Lê Văn Dũng</h3>
                    <p>Chuyên gia Marketing</p>
                </div>

                <div class="about-us-team-member">
                    <h3>Nguyễn Triệu Huy</h3>
                    <p>Nhà thiết kế</p>
                </div>
            </div>
        </div>
    </section>


    <section class="support">
        <div class="container">
            <div class="product-list">
                <div class="product">
                    <i class="fa-solid fa-truck"></i>
                    <div class="product-info">
                        <h3>Miễn phí giao hàng</h3>
                    </div>
                </div>
                <div class="product">
                    <i class="fas fa-headset" alt="Đội ngũ hỗ trợ trực tuyến 24/7"></i>
                    <div class="product-info">
                        <h3>Đội ngũ hỗ trợ trực tuyến 24/7</h3>
                    </div>
                </div>
                <div class="product">
                    <i class="fas fa-tshirt" alt="Thiết kế lịch lãm thoải mái tự tin"></i>
                    <div class="product-info">
                        <h3>Thiết kế lịch lãm thoải mái tự tin</h3>
                    </div>
                </div>
                <div class="product">
                    <i class="fas fa-money-bill-alt" alt="Giá cả đi kèm chất lượng"></i>
                    <div class="product-info">
                        <h3>Giá cả đi kèm chất lượng</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="products">
        <div class="title-container">
            <h2>Sản phẩm mới</h2>
        </div>
        <div class="container">
            @await Component.InvokeAsync("SanPham")
        </div>
    </section>
</div>

