@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutCustomer";
}
<div id="main">
    <section class="image">
        <img src="image\main.jpg" alt="Hình ảnh chính">

    </section>
    <section class="support">
        <div class="container">
            <div class="product-list">
                <div class="product">
                    <i class="fa-solid fa-truck"></i>
                    <div class="product-info">
                        <h3>Miễn phí giao hàng</h3>
                    </div>
                </div>
                <div class="product">
                    <i class="fas fa-headset" alt="Đội ngũ hỗ trợ trực tuyến 24/7"></i>
                    <div class="product-info">
                        <h3>Đội ngũ hỗ trợ trực tuyến 24/7</h3>
                    </div>
                </div>
                <div class="product">
                    <i class="fas fa-tshirt" alt="Thiết kế lịch lãm thoải mái tự tin"></i>
                    <div class="product-info">
                        <h3>Thiết kế lịch lãm thoải mái tự tin</h3>
                    </div>
                </div>
                <div class="product">
                    <i class="fas fa-money-bill-alt" alt="Giá cả đi kèm chất lượng"></i>
                    <div class="product-info">
                        <h3>Giá cả đi kèm chất lượng</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="title-container">
            <h2>Sản phẩm mới</h2>
        </div>
        <div class="container">
            <div class="product-list">
                <div class="product">
                    <a href="#">
                        <img src="image\product.jpg" alt="Sản phẩm 1">
                        <div class="product-info">
                            <h3>Tên sản phẩm</h3>
                            <span class="price">500.000₫</span>
                        </div>
                    </a>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="image\product.jpg" alt="Sản phẩm 2">
                        <div class="product-info">
                            <h3>Tên sản phẩm</h3>
                            <span class="price">500.000₫</span>
                        </div>
                    </a>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="image\product.jpg" alt="Sản phẩm 3">
                        <div class="product-info">
                            <h3>Tên sản phẩm</h3>
                            <span class="price">500.000₫</span>
                        </div>
                    </a>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="image\product.jpg" alt="Sản phẩm 4">
                        <div class="product-info">
                            <h3>Tên sản phẩm</h3>
                            <span class="price">500.000₫</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="productsnew">
        <div class="title-container">
            <h2>Sản phẩm bán chạy</h2>
        </div>
        <div class="container">
            <div class="product-list">
                <div class="product">
                    <a href="#">
                        <img src="image\product.jpg" alt="Sản phẩm 1">
                        <div class="product-info">
                            <h3>Tên sản phẩm</h3>
                            <span class="price">500.000₫</span>
                        </div>
                    </a>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="image\product.jpg" alt="Sản phẩm 2">
                        <div class="product-info">
                            <h3>Tên sản phẩm</h3>
                            <span class="price">500.000₫</span>
                        </div>
                    </a>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="image\product.jpg" alt="Sản phẩm 3">
                        <div class="product-info">
                            <h3>Tên sản phẩm</h3>
                            <span class="price">500.000₫</span>
                        </div>
                    </a>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="image\product.jpg" alt="Sản phẩm 4">
                        <div class="product-info">
                            <h3>Tên sản phẩm</h3>
                            <span class="price">500.000₫</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

