
@{
}
<div id="staff-listcustomers">
    <div class="container">
        <h1 class="heading">Danh sách khách hàng</h1>
        <form action="#">
            <div class="search-wrapper">
                <div class="search-box">
                    <input type="text" placeholder="Tìm kiếm khách hàng..." id="search-input" aria-label="Search products">
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Mã khách hàng..." id="search-input" aria-label="Search products">
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Số điện thoại..." id="search-input" aria-label="Search products">
                </div>
                <button type="submit">Tìm kiếm</button>
            </div>
        </form>

        <div id="search-results">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Số đơn hàng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mã khách hàng 1</td>
                        <td>Tên khách hàng 1</td>
                        <td>Số điện thoại 1</td>
                        <td>Đà Nẵng</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Mã khách hàng 2</td>
                        <td>Tên khách hàng 2</td>
                        <td>Số điện thoại 2</td>
                        <td>Hồ Chí Minh</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
