@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="feedback">
    <div class="product-review">
        <h1>Đánh giá sản phẩm</h1>
        <div class="average-rating">
            <span class="rating-number">Số sao trung bình 4.5</span>
            <span class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </span>
        </div>
        <div class="review-item review-item-ao-thun featured">
            <div class="review-info">
                <span class="rating">5</span>
                <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </span>
                <span class="reviewer">Nam Anh (Đã mua)</span>
            </div>
            <blockquote class="review-content">
                Tuyệt vời! Áo thun chất lượng vượt mong đợi. Chất liệu cotton co giãn 4 chiều mềm mại, thoáng mát, thấm hút mồ hôi tốt. Kiểu dáng basic đơn giản, dễ phối đồ, phù hợp nhiều hoạt động. Màu sắc tươi sáng, trẻ trung (mình mua màu xanh dương rất đẹp). Shop uy tín, giao hàng nhanh, nhân viên nhiệt tình. Highly recommend!
            </blockquote>
        </div>
        <div class="review-item review-item-ao-polo featured">
            <div class="review-info">
                <span class="rating">5</span>
                <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </span>
                <span class="reviewer">Nam Anh (Đã mua)</span>
            </div>
            <blockquote class="review-content">
                Tuyệt vời! Áo polo chất lượng vượt mong đợi. Chất liệu cotton pique mềm mại, thoáng mát, thấm hút mồ hôi tốt. Kiểu dáng basic đơn giản, lịch sự, phù hợp nhiều hoạt động. Màu sắc tươi sáng, trẻ trung (mình mua màu xanh lá rất đẹp). Shop uy tín, giao hàng nhanh, nhân viên nhiệt tình. Highly recommend!
            </blockquote>
        </div>
        <div class="review-item review-item-ao-thun">
            <div class="review-info">
                <span class="rating">0</span>
                <span class="stars">
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                <span class="reviewer">Minh Huy (Đã mua)</span>
            </div>
            <blockquote class="review-content">
                Rất thất vọng! Chất lượng áo thun không như mô tả. Chất liệu cotton mỏng, xù lông, thấm hút mồ hôi kém. Kiểu dáng basic nhưng form áo không đẹp, mặc lên không tôn dáng. Màu sắc không tươi sáng như hình. Shop giao hàng chậm, nhân viên tư vấn không nhiệt tình. Không hài lòng và không recommend!
            </blockquote>
        </div>
    </div>

</div> 