@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Thống kê";
    ViewBag.LoadCharts = true;
    ViewBag.ProductsData = Model.ProductsData;
    ViewBag.TurnoverData = Model.TurnoverData;
    ViewBag.GrowthData = Model.GrowthData;
}
@model PBLShop.ViewModels.ChartDataVM

<main>
    <div class="container my-4">
        <h1>Thống kê</h1>
        <h3>@TempData["Message"]</h3>
        <div class="row py-3">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <a asp-action="Statistic" asp-controller="DonHangAdmin" asp-route-type="1" class="btn btn-outline-primary">Ngày</a>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <a asp-action="Statistic" asp-controller="DonHangAdmin" asp-route-type="2" class="btn btn-outline-primary">Tháng</a>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <a asp-action="Statistic" asp-controller="DonHangAdmin" asp-route-type="3" class="btn btn-outline-primary">Năm</a>
            </div>
        </div>
        <div class="row gx-5">
            <section class="col-sm-4 col-12">
                <div class="card bg-primary text-white mb-4 d-flex">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="card-title">
                            <i class="fa-solid fa-sack-dollar fa-xl"></i>
                        </div>
                        <div class="card-title">
                            <h5>Doanh thu</h5>
                        </div>
                        <div class="card-subtitle">
                            <P>5.000.000Đ</P>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-sm-4 col-12">
                <div class="card bg-success text-white mb-4 d-flex">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="card-title">
                            <i class="fa-solid fa-shirt fa-xl"></i>
                        </div>
                        <div class="card-title">
                            <h5>Sản phẩm</h5>
                        </div>
                        <div class="card-subtitle">
                            <P>500</P>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-sm-4 col-12">
                <div class="card bg-warning text-white mb-4 d-flex">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="card-title">
                            <i class="fa-solid fa-file-invoice-dollar fa-xl"></i>
                        </div>
                        <div class="card-title">
                            <h5>Hóa đơn</h5>
                        </div>
                        <div class="card-subtitle">
                            <P>300</P>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-12 max-width d-flex flex-column align-items-center">
                <div id="piechartOfProducts" class="max-width"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 max-width d-flex flex-column align-items-center">
                <div id="barchartOfProducts" class="max-width"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 max-width d-flex flex-column align-items-center">
                <div id="donutchartOfTurnover" class="max-width"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-sm-flex flex-column align-items-center" style="overflow: auto;">
                <div id="growthchart" style="width: 750px; height: 800px;"></div>
            </div>
        </div>
    </div>
</main>


